body {
    margin: 0;
    padding: 0;
}
button {
    border: none;
    padding: 0;
    color: white;
    background: rgb(241, 109, 127);
    width: 131px;
    height: 38px;
    font-size: 14px;
}

.bdr {
    border: 2px solid rgb(16, 223, 161);
}

/* .header {
    height: 150px;
    background-color: #fff;
} */

.content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}


.footer {
    height: 100px;
    background-color: #ddd;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

/* top start */
.top {
    height: 100px;
    display: flex;
    justify-content: space-between;
}

.top_left {
    display: flex;
    align-items: center;
}

.top_right {
    display: flex;
    align-items: center;
}

.top_logo {
    display: contents;
    align-items: center;
}

.top_logo img {
    /* display: inline; */
    /* padding: 13px; */
}

.top_logo-text {
    display: inline;
    font-family: lato-light;
    font-size: 27px;
    padding-left: 13px;
    padding-top: 13px;
    text-transform: uppercase;
}

.top_logo-text span {
    color: rgb(241, 109, 127);
}

.top_search {
    margin-left: 36px;
    display: inline;
}

.top_dropdown {
    display: inline;
}

.top_browse_btn {
    height: 38px;
    width: 88px;
    box-sizing: content-box;
    padding: 0 16px;
    border: none;
    background: rgb(248, 248, 248);
    font-family: lato-light;
    font-size: 14px;
    color: rgb(131, 131, 131);
}

.tsb_dwn {
    border: none;
}

.top_browse_btn:hover .top_dropdown-content {
    display: block;
}

.top_dropdown-content {
    position: absolute;
    display: none;
    background: #fff;
    z-index: 1;
}

.dropdown_list {
    font-family: lato-regular;
    font-size: 14px;
    list-style: none;
}

.dropdown_main {
    text-transform: uppercase;
}

.dropdown_list a {
    text-decoration: none;
}

.top_input {
    height: 38px;
    width: 320px;
    background: #fff;
}

.top_search_btn {
    width: 36px;
    color: rgb(164, 164, 164);
    background: #fff;
    border-left: inherit;
}

.top_search_border {
    border-width: thin;
    border-radius: 3px;
    border-color: rgb(232, 232, 232);
    border-style: solid;
    display: flex;
}

.top_bascket {
    padding-top: 13px;
}

.top_akk_btn {
    margin-left: 25px;
}

.akk_button:hover {
    background: #fff;
    color: rgb(241, 109, 127);
    border: 1px solid rgb(241, 109, 127);
}

/* top end */
.header_menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 52px;
}

ul.header_list {
    width: 680px;
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
}

.slider {
    background-color: rgb(232, 232, 232);
}

.slider_img {
    height: 665px;
    background-image: url(./images/Layer\ 24.png);
    background-position-y: -150px;
    background-position-x: 30px;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
}

.slider_text {
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    height: 100px;
    top: -80px;
}

.slider_t {
    font-family: lato, bold;
    font-size: 40px;
    border-left: 12px solid rgb(241, 109, 127);
    padding-left: 12px;
    position: absolute;
    top: 10px;
    font-weight: 900;
    letter-spacing: 2px;
}

.t1 {
    font-size: 60px;
}

.t2 {
    color: rgb(241, 109, 127);
}

/* Slider END */

.news {
    height: 823px;
    margin: 80px auto;
    display: flex;
}

.news_l {
    margin-right: 20px;
    margin-bottom: 20px;
}

.news_r {
    margin-bottom: 20px;
}

.news_box {
    margin: 20px auto;
    position: relative;
    overflow: hidden;
}

.news_1 {
    height: 542px;
    width: 560px;
}

.news_box p {
    font-family: lato-black;
    font-size: 18px;
    position: absolute;
    text-transform: uppercase;
    background-color: #fff;
    padding: 15px 20px;
    top: 27px;
}

.news_box span {
    font-size: 30px;
    color: rgb(241, 109, 127);
}

.news_2 {
    height: 262px;
    width: 560px;
    background-color: rgb(218, 218, 210);
}

.news_2 img {
    top: -50px;
    right: 0px;
}

.news_3 {
    height: 262px;
    width: 560px;
}

.news_3 img {
    top: -100px;
}

.news_4 {
    height: 542px;
    width: 560px;
}

.news_box img {
    position: absolute;
}


/* Main start */

h2 {
    font-size: 30px;
    margin: 16px auto;
    font-family: lato-bold;
}

.content_text {
    font-family: lato-regular;
    font-size: 14px;
    color: rgb(159, 159, 159);
    margin: 0 auto;
}

.content_footer {
    display: flex;
    margin-top: 110px;
    height: 530px;
    /* justify-content: space-between; */
}

.content_footer_img {
    background-color: #000;
    width: 767px;
    position: relative;
    overflow: hidden;
    background-image: radial-gradient(circle closest-side at 60% 28%, rgba(217, 217, 217, 0.61), #000000);
}

.content_footer_img img{
    opacity: 0.5;
}

.content_footer_img p {
    position: absolute;
    top: 0;
}

.content_footer_text {
    font-family: lato-bold;
    text-transform: uppercase;
    font-size: 32px;
    color: #fff;
    margin: 146px 40px;
}

.content_t1 {
    font-size: 54px;
}

.content_t2 {
    font-size: 54px;
    color: rgb(241, 109, 127);
}

.content_footer_r {
    background: #000;

}



._r_p {
    display: flex;
}

._r_p img {
    padding-left: 35px;
    padding-right: 30px;
    height: fit-content;
    padding-top: 50px;
}

._r_p_text {
    color: #fbfbfb;
    width: 256px;
    padding-top: 55px;
}

._r_p_text h3 {
    font-family: lato, bold;
    font-size: 20px;
    margin: 0;
}


._r_p_text p {
    font-family: lato, Light;
    font-size: 14px;
}

/* Main end */

/* footer start */

.footer_top_bg {
    margin-top: 96px;
    background-color: rgb(224, 224, 224);
    height: 439px;
}

.footer_top {
    height: 439px;
    width: 100%;
    background-image: url(./images/footer_img.png);
    background-repeat: no-repeat;
    background-position: center -140px;
    opacity: 0.5;
    position: absolute;
    display: flex;
    justify-content: space-between;
}

.footer_top_content {
    display: flex;
    align-items: center;
    padding-top: 100px;
}


.foot_fig {
    display: flex;
    position: relative;
    margin: 0;
}

.foot_face {
    width: 83px;
}

.foot_img_crop {
    position: absolute;
    height: 83px;
    width: 83px;
    border-radius: 83px;
    overflow: hidden;
}

.foot_img_img {
    position: relative;
    width: 125px;
    height: 125px;
    background-image: url(./images/face.png);
    background-position: -20px -10px;
}

.foot_text {
    font-family: lato;
    font-style: italic;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400;
    padding: 12px 25px;
    margin: 0 auto;
    width: 426px;
}

.foot_name {
    font-family: lato, bold;
    font-size: 16px;
    color: rgb(241, 109, 127);
    padding: 0 25px;
    line-height: 0.8;
}


.foot_adr {
    font-family: lato, light;
    font-size: 12px;
    color: initial;
}

.footer_form {
    position: absolute;
    font-family: lato;
    text-transform: uppercase;
    font-size: 24px;
    margin-left: 100px;
    margin-top: -40px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.fft{
    margin-top: 70px;
}

.form_text {
    font-size: 14px;
}

.form_input{
    display: flex;
    margin-top: 34px;
    height: 47px;
    font-family: lato, regular;
}

.form_input input{
    padding-left: 29px;
    border-style: none;
    border-radius: 30px 0 0 30px;
    width: 300px;
    background-color: #e1e1e1;
}

.form_input button{
    border-radius: 0 30px 30px 0;
    width: 105px;
    height: 47px;
}

.form_btn:hover {
    background: #fff;
    color: rgb(241, 109, 127);
    border: 1px solid rgb(241, 109, 127);
}

/* footer middle */

.footer_mid{
    margin-top: 110px;
    display: flex;
    justify-content: space-between;
}

.logo_copy {
    display: flex;
    align-items: center;
}

.footer_mid_text{
    width: 476px;
    height: 254px;
    overflow: hidden;
    margin-top: 29px;
}

.footer_mid_text p{
    font-family: lato;
    font-size: 14px;
    line-height: 24px;
    color: #898989;
    font-weight: 300;
    font-family: "Lato";
    padding-bottom: 30px;
}

.footer_mid_nav{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-left: 64px;

}

.footer_mid_nav_text{
    display: flex;
    flex-direction: column;
}

.footer_mid_nav_text span{
    text-transform: uppercase;
    color: rgb(241, 109, 127);
    font-size: 18px;
    margin-bottom: 45px;
}

.footer_mid_link{
    text-decoration: none;
    font-family: lato;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 50px;
    color: #898989;
    font-weight: 400;
    font-family: "Lato";
}

/* footer bottom start */

.footer_bottom {
    background-color: #e6e6e6;
    margin-top: 88px;
}

.bottom {
    height: 79px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bottom_rights {
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 42px;
    color: #7a7a7a;
    font-weight: 400;
    font-family: "Lato";
}

.bottom_social button{
    width: 33px;
    height: 33px;
    background: #fff;
}

.bottom_social button:hover {
    background: rgb(241, 109, 127);
}