body {
    margin: 0;
    padding: 0;
}

.header {
    height: 150px;
    background-color: #fff;
}

.content {
    display: flex;
}


.footer {
    height: 100px;
    background-color: #ddd;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

/* top start */
.top {
    height: 100px;
    display: flex;
    justify-content: space-between;
}

.top_left {
    display: flex;
    align-items: center;
}

.top_right {
    display: flex;
    align-items: center;
}

.top_logo {
    display: contents;
}

.top_logo img {
    display: inline;
    padding: 13px;
}

.top_logo-text {
    display: inline;
    font-family: lato-light;
    font-size: 27px;
    text-transform: uppercase;
}

.top_logo-text span {
    color: rgb(241, 109, 127);
}

.top_search {
    margin-left: 36px;
    display: inline;
}

.top_dropdown {
    display: inline;
}

.top_browse_btn {
    height: 38px;
    box-sizing: content-box;
    padding: 0 16px;
    border: none;
    background: rgb(248, 248, 248);
    font-family: lato-light;
    font-size: 14px;
    color: rgb(131, 131, 131);
}

.tsb_dwn {
    border: none;
}

.top_dropdown:hover .top_dropdown-content {
    display: block;
}

.top_dropdown-content {
    position: absolute;
    display: none;
    background: #fff;
    z-index: 1;
}

.dropdown_list {
    font-family: lato-regular;
    font-size: 14px;
    list-style: none;
}

.dropdown_main {
    text-transform: uppercase;
}

.dropdown_list a {
    text-decoration: none;
}

.top_input {
    height: 38px;
    width: 320px;
    background: #fff;
}

.top_search_btn {
    color: rgb(164, 164, 164);
    background: #fff;
    border-left: inherit;
}

.top_search_border {
    border-width: thin;
    border-radius: 3px;
    border-color: rgb(232, 232, 232);
    border-style: solid;
    display: flex;
}

.top_bascket {
    padding-top: 13px;
}

.top_akk_btn {
    margin-left: 25px;
}

.akk_button {
    border: none;
    color: white;
    background: rgb(241, 109, 127);
    width: 130px;
    height: 38px;
}

.top_akk_btn:hover .akk_button {
    background: #fff;
    color: rgb(241, 109, 127);
    border: 1px solid rgb(241, 109, 127);
}


/* top end */
.header_menu {
    display: flex;
    justify-content: center;
}

ul.header_list {
    width: 680px;
    text-decoration: none;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.slider {
    background-color: rgb(232, 232, 232);
}

.slider_img {
    height: 665px;
    background-image: url(./images/Layer\ 24.png);
    background-position-y: -150px;
    background-position-x: 30px;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
}

.slider_text {
    font-family: lato-black;
    font-size: 40px;
    height: 100px;
    position: relative;
    overflow: hidden;
}

.slider_t {
    border-left: 12px solid rgb(241, 109, 127);
    padding-left: 12px;
    position: absolute;
    top: -13px;
}

.t1 {

    font-size: 60px;
}

.t2 {
    color: rgb(241, 109, 127);
}

.news {
    height: 823px;
    margin: 80px auto;
    display: flex;
}

.news_l {
    margin-right: 20px;
    margin-bottom: 20px;
}

.news_r {
    margin-bottom: 20px;
}

.news_box {
    margin: 20px auto;
    position: relative;
    overflow: clip;
}

.news_1 {
    height: 542px;
    width: 560px;
}

.news_box p {
    font-family: lato-black;
    font-size: 18px;
    position: absolute;
    text-transform: uppercase;
    background-color: #fff;
    padding: 15px 20px;
    top: 27px;
}

.news_box span {
    font-size: 30px;
    color: rgb(241, 109, 127);
}

.news_2 {
    height: 262px;
    width: 560px;
    background-color: rgb(218, 218, 210);
}

.news_2 img {
    top: -50px;
    right: 0px;
}

.news_3 {
    height: 262px;
    width: 560px;
}

.news_3 img {
    top: -100px;
}

.news_4 {
    height: 542px;
    width: 560px;
}

.news_box img {
    position: absolute;
}